!!!
%html
  %head
    %meta{ :"http-equiv" => "content-type", :content => "text/html; charset=utf-8" } 
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" }
    %script{ :src => "index.js" }
    %script{ :src => "http://code.highcharts.com/highcharts.js" }
    %script{ :src => "chart.js" }
    %link{ :rel => "stylesheet", :href => "style.css" }
  %body

    %ul#scores
      %li#pain
        %b Унижение
        %span.val

      %li#moral
        %b Духовность
        %span.val

      %li#score
        %b Распилено бабла
        %span.val

    #chart-container


    #actions

      %input{ :type => :button, :value => "Раздать оливье", :"data-action-id" => 0 }
      %input{ :type => :button, :value => "Объявить о начале строительства моста", :"data-action-id" => 1 }
      %input{ :type => :button, :value => "Уволить скорую помощь", :"data-action-id" => 2 }
      %input{ :type => :button, :value => "Включить патриотическую музыку по центру города", :"data-action-id" => 3 }
