!!!
%html
  %head
    %meta{ :"http-equiv" => "content-type", :content => "text/html; charset=utf-8" } 
    %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1" }
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" }

    %script{ :src => "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" }
    %script{ :src => "https://cdnjs.cloudflare.com/ajax/libs/underscore.string/3.0.3/underscore.string.js" }
      
    %script{ :src => "http://code.highcharts.com/highcharts.js" }
    %script{ :src => "js/app.js" }
    %script{ :src => "js/chart.js" }
    %script{ :src => "js/action_manager.js" }
    %script{ :src => "js/actions.js" }

    %link{ :rel => "stylesheet", :href => "style.css" }
    %link{ :rel => "stylesheet", :href => "gridism.css" }
  %body

    .grid

      .unit.half
        %ul#scores
          %li#pain
            %b Унижение
            %span.val

          %li#moral
            %b Духовность
            %span.val

          %li#score
            %b Распилено бабла
            %span.val

      #actions.unit.half
        #actions-container

          -# %input{ :type => :button, :value => "Раздать оливье", :"data-action-id" => 0 }
          -# %input{ :type => :button, :value => "Объявить о начале строительства моста", :"data-action-id" => 1 }
          -# %input{ :type => :button, :value => "Уволить скорую помощь", :"data-action-id" => 2 }
          -# %input{ :type => :button, :value => "Включить патриотическую музыку по центру города", :"data-action-id" => 3 }

    .grid
      .unit.half
        #chart-container
