!!!
%html
  %head
    %meta{ :"http-equiv" => "content-type", :content => "text/html; charset=utf-8" } 
    %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1" }
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" }

    %script{ :src => "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" }
    %script{ :src => "https://cdnjs.cloudflare.com/ajax/libs/underscore.string/3.0.3/underscore.string.js" }

    %script{ :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" }

      
    %link{ :rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=PT+Serif+Caption&subset=latin,cyrillic" }
    %link{ :rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic" }
    %link{ :rel => "stylesheet", :href => "css/style.css" }
    %link{ :rel => "stylesheet", :href => "css/theme.css" }
    %link{ :rel => "stylesheet", :href => "css/pnotify.custom.min.css" }
      
    %script{ :src => "js/lib/pnotify.custom.min.js" }
    %script{ :src => "http://code.highcharts.com/highcharts.js" }
    %script{ :src => "js/lib/tabletop.js" }
    %script{ :src => "js/lib/stuff.js" }
    %script{ :src => "js/lib/rainbowvis.js" }

    %script{ :src => "js/app.js" }
    %script{ :src => "js/preload_images.js" }
    %script{ :src => "js/chart.js" }
    %script{ :src => "js/action_manager.js" }
    %script{ :src => "js/actions2.js" }
    %script{ :src => "js/actions_list.js"}
    %script{ :src => "js/app_view.js" }
    %script{ :src => "js/story_manager.js" }

    %script{ :src => "//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js" }
    %link{ :rel => "stylesheet", :href => "css/slick.css" }
    %link{ :rel => "stylesheet", :href => "css/slick-theme.css" }


    %title Симулятор Севастопольца
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-60755864-2', 'auto');
      ga('send', 'pageview');

  %body

    .container.wrap
      .row.header
        .row
          .col-xs-3
            %img.coat{src: "img/coat.svg"}
          .col-xs-9
            %h1.title Симулятор севастопольца
            %h3 По заказу Департамента унижения пидорашек Правительства Севастополя

      .row.body

        .row
          .col-xs-12
            #actions
              #actions-container

        .row
          .col-xs-9
            #chart-container
            %button.btn.btn-default.start-game
              Старт

          .col-xs-3.scores-container
            .row
              %ul#scores
                %li#pain
                  %b Унижение
                  %span.val

                %li#moral
                  %b Духовность
                  %span.val

                %li#terpenium
                  %b Терпение
                  %span.val

                %li#score
                  %b Распилено бабла
                  %span.val
                  %br
                  %br

                %li#level
                  %b Достигнутый уровень
                  %br
                  %span.val

            .row.face-container
              %div.face

        .row#stories
          .carousel


      .row.footer
        .col-xs-3.proud
          %img.proud{src: "img/gorjus2.png"}
        .col-xs-9
          %div.madein
            Создано в&nbsp;
            %a{href: "http://www.interfax.ru/russia/437063", target: "_blank"}>цифровой долине 
            &nbsp;по заказу
            %nobr
              %i
                Департамента унижения
                %a{href: "https://wiki.1chan.ru/wiki/%D0%9F%D0%B8%D0%B4%D0%BE%D1%80%D0%B0%D1%88%D0%BA%D0%B0_(%D0%BD%D0%B5_%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA)", target: "_blank"}пидорашек
            Правительства города Севастополь
            %br
            %br
            г. Севастополь (федерального значения)
            %br
            %a.eastern{href: "img/sut_igry.png"} &copy;&nbsp;2015

  .stories-templates
    - Dir.glob("templates/actions/*.html.haml").each do |filename|
      - action_name = (File.basename(filename).sub ".html.haml", "")
      %div{ :class => "story-template #{action_name}", :"data-action-id" => action_name }
        = Haml::Engine.new(File.read(filename)).render



  .modal.fade.finally-died
    .modal-dialog.modal-lg
      .modal-content
        .modal-body
          %h2 Твой севастополец не вытерпел унижений и умер, но не расстраивайся, ведь ты исполнил его мечту &mdash; он умер в России.
          %img{ src: "/img/face/dead.png"}

  .modal.fade.finally-fled
    .modal-dialog.modal-lg
      .modal-content
        .modal-body
          %h2 Твой севастополец не вытерпел унижений, забандерложился и свалил в фашистскую Укропию, где не кормят говном с ложки.
          %img{ src: "/img/face/fled.png"}
          %hr
          %img{ src: "/img/face/fled_2.png"}

