!!!
%html
  %head
    %meta{ :"http-equiv" => "content-type", :content => "text/html; charset=utf-8" } 
    %meta{ :name => "viewport", :content => "width=device-width,initial-scale=1" }
    %meta{ :name => "twitter:title", :content => "Симулятор севастопольца" }

    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" }
    %script{ :src => "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" }
    %script{ :src => "https://cdnjs.cloudflare.com/ajax/libs/underscore.string/3.0.3/underscore.string.js" }
    %script{ :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" }
    %script{ :src => "http://code.highcharts.com/highcharts.js" }
    %script{ :src => "http://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js" }

      
    %link{ :rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=PT+Serif+Caption&subset=latin,cyrillic" }
    %link{ :rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic" }

    %link{ :rel => "stylesheet", :href => "css/style.css" }
    %link{ :rel => "stylesheet", :href => "css/theme.css" }
    %link{ :rel => "stylesheet", :href => "css/pnotify.custom.min.css" }
    %link{ :rel => "stylesheet", :href => "css/social-likes_flat.css" }
      

    %link{ :rel => "stylesheet", :href => "css/slick.css" }
    %link{ :rel => "stylesheet", :href => "css/slick-theme.css" }
    %link{ :rel => "stylesheet", :href => "css/chardinjs.css" }


    - File.read("./js/manifest_js").split("\n").each do |f|
      %script{ :src => f }


    %title Симулятор Севастопольца
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-60755864-2', 'auto'); // 3 for prod
      ga('send', 'pageview');

  %body
    -# { :"data-intro" => "simulator", :"data-position" => "bottom" }

    .container.wrap
      .row.header
        .row
          .col-xs-3
            %img.coat{src: "img/coat.svg"}
          .col-xs-9
            %h1.title Симулятор севастопольца
            %h3 По заказу Департамента унижения пидорашек Правительства Севастополя

      .row.body
        .row
          .col-xs-12
            #actions{ :"data-intro" => "Используйте эти действия чтобы регулировать уровень унижения и духовности.", :"data-position" => "top" }
              #actions-container

        .row.game-field
          .col-xs-9
            #chart-container{ :"data-intro" => "Отслеживайте уровень унижения и духовности на графике", :"data-position" => "right" }
            .btn-container
              %button.btn.btn-default.start-game
                Старт
              %br
              %button.btn.btn-default.guide
                Как это работает?

          .col-xs-3.scores-container
            .row
              %ul#scores
                %li#pain
                  %b.title Унижение
                  %span.val 0

                %li#moral
                  %b.title Духовность
                  %span.val 0

                %li#terpenium
                  %b.title Терпение
                  %span.val{ :"data-intro" => "Контролируйте уровень терпения", :"data-position" => "right" } 0

                %li#score
                  %b.title Распилено бабла
                  %span.val 0
                  %br
                  %br

                %li#level
                  %b Достигнутый уровень
                  %br
                  %span.val &mdash;

            .row.face-container
              %div.face

        .row#stories
          .carousel


      .row.footer
        .col-xs-3.proud
          %img.proud{src: "img/gorjus2.png"}
        .col-xs-9
          %div.madein
            Создано в&nbsp;
            %a{href: "http://www.interfax.ru/russia/437063", target: "_blank"}>цифровой долине 
            &nbsp;по заказу
            %nobr
              %i
                Департамента унижения
                -# %a{href: "https://wiki.1chan.ru/wiki/%D0%9F%D0%B8%D0%B4%D0%BE%D1%80%D0%B0%D1%88%D0%BA%D0%B0_(%D0%BD%D0%B5_%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA)", target: "_blank"}пидорашек
                %a{href: "http://webcache.googleusercontent.com/search?q=cache:J89dnPNzqZUJ:1-chan.ru/wiki/%25D0%259F%25D0%25B8%25D0%25B4%25D0%25BE%25D1%2580%25D0%25B0%25D1%2588%25D0%25BA%25D0%25B0_(%25D0%25BD%25D0%25B5_%25D1%2587%25D0%25B5%25D0%25BB%25D0%25BE%25D0%25B2%25D0%25B5%25D0%25BA)+&cd=6&hl=en&ct=clnk&gl=ua", target: "_blank"}пидорашек
                
            Правительства города Севастополь
            %br
            %br
            %a.eastern{href: "img/sut_igry.png"} &copy;&nbsp;2015
            г. Севастополь (федерального значения)

            %br
            %br
            .social-likes.social-likes_light
              .facebook{ title: "Написать письмо Путину" } Facebook
              .twitter{ title: "Написать письмо Чалому" } Twitter
              .plusone{ title: "Написать письмо Меняйло" } Google+

  .stories-templates
    - Dir.glob("templates/actions/*.html.haml").each do |filename|
      - action_name = (File.basename(filename).sub ".html.haml", "")
      %div{ :class => "story-template #{action_name}", :"data-action-id" => action_name }
        = Haml::Engine.new(File.read(filename)).render



  .modal.fade.finally-died
    .modal-dialog.modal-lg
      .modal-content
        .modal-body
          %h2 Твой севастополец не вытерпел унижений и умер, но не расстраивайся, ведь ты исполнил его мечту &mdash; он умер в России.
          %iframe{ :"data-youtube-id" => "NNCz-2nxxGM", :width=>"560", :height=>"315", :src=>"https://www.youtube.com/embed/NNCz-2nxxGM?html5=1&autoplay=0", :frameborder=>"0", :allowfullscreen => true}
          %hr
          .row
            .col-sm-3
            .col-sm-3
              %img.dead{ src: "/img/face/dead.png"}
            .col-sm-5.text-left
              %p.result-info
                Ты распилил
                %span.score
                %span.score-word
                за
                %span.days
                = succeed '.' do
                  %span.days-word
              %p.result-info
                Достигнутый уровень &ndash;
                %span.level
            .col-sm-1


  .modal.fade.finally-fled
    .modal-dialog.modal-lg
      .modal-content
        .modal-body
          %h2 Твой севастополец не вытерпел унижений, забандерложился и свалил в фашистскую Укропию, где не кормят говном с ложки.
          %img{ src: "/img/face/fled_2.png"}
          %hr
          .row
            .col-sm-3
            .col-sm-3.text-right
              %img.fled{ src: "/img/face/fled.png"}
            .col-sm-5.text-left
              %p.result-info
                Ты распилил
                %span.score
                %span.score-word
                за
                %span.days
                = succeed '.' do
                  %span.days-word
              %p.result-info
                Достигнутый уровень &ndash;
                %span.level
            .col-sm-1
  .modal.fade.guide-content
    .modal-dialog.modal-lg
      .modal-content
        .modal-body
          Симулятор создан для тренировки сотрудников Правительства Севастополя. Ваша задача &mdash; умело унижая севастопольцев, распиливать бабло, при этом удерживая уровень терпения выше ноля. Для повышения терпения применяйте действия, повышающие духовность.

