.unit
  border: 1px dotted blue

ul#scores
  list-style-type: none
  padding-bottom: 1em
  li
    float: left


#chart-container
  height: 400px
  margin-top: 30px

#actions-container
  div.action
    border: 1px dotted red
    padding: 2px
    margin: 2px
    float: left
