%span.preview
  %a Почтить дидов на 35 батарее

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Почтить дидов на 35 батарее
      .modal-body
        %img{ src: "templates/actions/img/35bat_1.png" }
        %hr
        %img{ src: "templates/actions/img/35bat_2.png" }
