%span.preview
  %a
    Обвинить в бедах города
    %nobr Абаму-абизяну

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Обвинить в бедах города Абаму-абизяну
      .modal-body
        %img{ src: "templates/actions/img/abamka_zalil_2.png" }
        %hr
        %img{ src: "templates/actions/img/abamka_zalil_1.png" }
