%span.preview
  %a Искать биндеровца

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %img{ src: "templates/actions/img/bindera-search_1.png" }
        %hr
        %img{ src: "templates/actions/img/bindera-search_2.png" }
        %hr
        %img{ src: "templates/actions/img/bindera-search_3.png" }
        %hr
        %img{ src: "templates/actions/img/bindera-search_4.png" }
        %hr
        %img{ src: "templates/actions/img/bindera-search_5.png" }
        %hr
        %img{ src: "templates/actions/img/bindera-search_6.png" }




