%span.preview
  %a Запустить в продажу лосьон боярышника

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Запустить в продажу лосьон боярышника
      .modal-body
        %img{ src: "templates/actions/img/boyarishnik_1.png" }
        %hr
        %img{ src: "templates/actions/img/boyarishnik_3.png" }
        %hr
        %img{ src: "templates/actions/img/boyarishnik_2.png" }
