%span.preview
  %a Объявить о начале строительства моста

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Объявить о начале строительства моста
      .modal-body
        %img{ src: "templates/actions/img/bridge_1.png" }
        %hr
        %img{ src: "templates/actions/img/bridge_2.png" }
        %hr
        %img{ src: "templates/actions/img/bridge_3.png" }


