%span.preview
  %a Включить по центру патриотическую музыку

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Включить по центру патриотическую музыку
      .modal-body
        %img{ src: "templates/actions/img/center_music.png" }
