%span.preview
  %a Включить воду на 3 часа в день

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Включить воду на 3 часа в день
      .modal-body
        %img{ src: "templates/actions/img/dat_vody.png" }
