%span.preview
  %a Уволить скорую помощь

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Уволить скорую помощь
      .modal-body
        %img{ src: "templates/actions/img/fire_emergency_doctors_1.png" }
        %hr
        %img{ src: "templates/actions/img/fire_emergency_doctors_2.png" }
        %hr
        %img{ src: "templates/actions/img/fire_emergency_doctors_3.png" }
