%span.preview
  %a Закрасить украинский флаг

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Закрасить украинский флаг
      .modal-body
        %iframe{ :width=>"560", :height=>"315", :src=>"https://www.youtube.com/embed/2WV-ynY43ic?html5=1&autoplay=0", :frameborder=>"0", :allowfullscreen => true}
