%span.preview
  %a Разрешить не платить кредиты

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %img{ src: "templates/actions/img/free_from_kredit_1.png" }
        %hr
        %img{ src: "templates/actions/img/free_from_kredit_2.png" }



