%span.preview
  %a Потерять документы обратившихся в ФЗВ

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %img{ src: "templates/actions/img/fzv_poterya_1.png" }
        %hr
        %img{ src: "templates/actions/img/fzv_poterya_2.png" }
        %hr
        %img{ src: "templates/actions/img/fzv_poterya_3.png" }
        %hr
        %img{ src: "templates/actions/img/fzv_poterya_4.png" }
        %hr
        %img{ src: "templates/actions/img/fzv_poterya_5.png" }
