%span.preview
  %a Запустить российских коллекторов

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %img{ src: "templates/actions/img/gde_dengi_sooqa_1.png" }
        %hr
        %img{ src: "templates/actions/img/gde_dengi_sooqa_2.png" }



