%span.preview
  %a 

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title 
      .modal-body
        %img{ src: "templates/actions/img/hersones_plitka.png" }
