%span.preview
  %a Обвинить в бедах города хохлов

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Обвинить в бедах города хохлов
      .modal-body
        %img{ src: "templates/actions/img/hohly_zalili.png" }
