%span.preview
  %a Немножко задержать зарплату

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %img{ src: "templates/actions/img/hold_zarplata.png" }


