%span.preview
  %a Раздеребанить морские институты

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Раздеребанить морские институты
      .modal-body
        %img{ src: "templates/actions/img/inbum_mgi.png" }
