%span.preview
  %a Пригласить братушек с Донбасса

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Пригласить братушек с Донбасса
      .modal-body
        %img{ src: "templates/actions/img/invite_bratushki_1.png" }
        %hr
        %img{ src: "templates/actions/img/invite_bratushki_2.png" }
