%span.preview
  %a Написать письмо Путину

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %img{ src: "https://lh3.googleusercontent.com/IQ7j6GDbqfUPWRKtO7m6C91UlUL-lz8pIWgk3aoBApQ=w816-h200-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/OZqy6isiTpWmeYT7ylCqhAAPK0QUhNKWBR1eZG-UPJg=w818-h257-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/wAw3isvTZxZhbwczU4wZ2ig0E1geIaVRfrqHhewYNdE=w819-h391-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/H3LC36AOuQQHcfiqWacUyl6y_Ru0Ra1R6z1RsB3-LOE=w816-h286-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/zZBpDiIpb-SW53Vd6RNeRKNj4XyKtpWQKy1NOwPpNyg=w823-h611-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/1H6urrh5aV0k2G-Km-BwSfVr2yYqlPMaIjp_GAaPn7Q=w812-h247-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/ozGkRhqMGOE7deM8hlK0DuDXqh8UR7FDox4tfKjaRIc=w817-h144-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/tAswr44ICAlRam3QFOVT_g1PAL_oQ6xaIfyQSjw4iBU=w817-h134-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/SUqISURr3VqVIyXxDVutGH6zYbhDXYllw0ApsZHFlA=w819-h134-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/cGEy7qDwU2jeY0osmceJEMTNuuUOpwdF4Am3VMvnrA=w819-h225-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/eY3pYp6tDCzC_QNhtpZWiBwKMwEtKL_aTSUGVsTpumo=w819-h386-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/-NdleaStMmPNZsz4BKOU_1IyZOI1_7HWuaUbtTunqQ=w821-h263-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/hY-mPSs8134WxPpi_KOFIhjd5F3zo521j7Btrm29T00=w817-h404-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/6Cg13YMpF-D4XVmOTTFblU9ZH66IYXpNs1c3pmeUpbk=w818-h228-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/uJQBaPA6DX0dQ7i7S9_c4VJhTKrk_fZ5Uctq_dp-_I8=w817-h277-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/YQ2tVCCbC5Z66XJvUob9HLqVw6lb2zI6qkSTilKI59o=w951-h344-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/A6DpLl7G5Ldl2wudlbPjDAbsACudu0rWYyjlB6CDgfw=w1021-h330-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/zEjT8aVjbjPQbjCTk-4yNeAq9OrloIcH_pHCXjuWkLI=w1019-h242-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/i64FtDCJM_o2h8kh3SLvIi7USq99N220R-3KfpSgMzs=w994-h284-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/wpqKfzZxAPcmlzDYCaVMnf75TQQ3Zwrb1WIu7SaIewQ=w967-h569-no" }
        %hr
        %img{ src: "https://lh3.googleusercontent.com/BuGSx6jTHioxRrM0m4TUbUqJkEVlok_qm07tJMxQ_fE=w964-h575-no" }
