%span.preview
  %a Пустить слух об отставке Меняйло

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Пустить слух об отставке Меняйло
      .modal-body
        %img{ src: "templates/actions/img/menyalo_out_1.png" }
        %hr
        %img{ src: "templates/actions/img/menyalo_out_2.png" }
