%span.preview
  %a Провести молебен за процветание Крыма

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Провести молебен за процветание Крыма
      .modal-body
        %a{href: "http://news.allcrimea.net/news/2015/4/9/v-yalte-proveli-moleben-za-protsvetanie-kryma-34817/", target: "_blank"}
          %img{ src: "templates/actions/img/moleben.png" }


