%span.preview
  %a Удобрить клумбы в центре свежим говном

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %img{ src: "templates/actions/img/navoz_1.png" }
        %hr
        %img{ src: "templates/actions/img/navoz_2.png" }
        %hr
        %img{ src: "templates/actions/img/navoz_3.png" }
        %hr
        %img{ src: "templates/actions/img/navoz_4.png" }
        %hr
        %img{ src: "templates/actions/img/navoz_5.png" }



