%span.preview
  %a Повалить скульпутуру "Одуванчик"

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Повалить скульпутуру "Одуванчик"
      .modal-body
        %iframe{ :width=>"560", :height=>"315", :src=>"https://www.youtube.com/embed/nuxd4_OcZSE?html5=1&autoplay=0", :frameborder=>"0", :allowfullscreen => true}

