%span.preview
  %a Развалить онкологический диспансер

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Развалить онкологический диспансер
      .modal-body
        %img{ src: "templates/actions/img/onkolog.png" }
