%span.preview
  %a Разрешить платить в топике на выходе

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Разрешить платить в топике на выходе
      .modal-body
        %img{ src: "templates/actions/img/plati_na_vyhode_1.png" }
        %hr
        %img{ src: "templates/actions/img/plati_na_vyhode_2.png" }
        %hr
        %img{ src: "templates/actions/img/plati_na_vyhode_3.png" }
        %hr
        %img{ src: "templates/actions/img/plati_na_vyhode_4.png" }
        %hr
        %img{ src: "templates/actions/img/plati_na_vyhode_5.png" }
