%span.preview
  %a Организовать оборону от поезда дружбы

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Организовать оборону от поезда дружбы
      .modal-body
        %img{ src: "templates/actions/img/poezd_druzby.png" }
