%span.preview
  %a Уволить портовиков без зарплаты за несколько месяцев

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %img{ src: "templates/actions/img/portoviki_1.png" }
        %hr
        %img{ src: "templates/actions/img/portoviki_2.png" }
        %hr
        %img{ src: "templates/actions/img/portoviki_3.png" }
        %hr
        %img{ src: "templates/actions/img/portoviki_4.png" }
