%span.preview
  %a
    Обнаружить схрон
    %nobr
      "Правого Сектора"

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %img{ src: "templates/actions/img/pravoseki_shron.png" }



