%span.preview
  %a Вместо задать, разрешить посмотреть, как задают вопросы Путину

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %img{ src: "templates/actions/img/putin_liniya_1.png" }
        %hr
        %img{ src: "templates/actions/img/putin_liniya2_1.png" }
        %hr
        %img{ src: "templates/actions/img/putin_liniya2_2.png" }
