%span.preview
  %a Разрешить задать вопрос Путину

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %img{ src: "templates/actions/img/putin_liniya_1.png" }

