%span.preview
  %a Ремонт водопровода в течение 5 мес

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Ремонт водопровода в течение 5 мес
      .modal-body
        %img{ src: "templates/actions/img/remont_vody.png" }
