%span.preview
  %a
    Провести
    %nobr
      %b СЕВАСТОПОЛЬСКИЙ РИТУАЛ

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Провести СЕВАСТОПОЛЬСКИЙ РИТУАЛ
      .modal-body
        %iframe{ :width=>"560", :height=>"315", :src=>"https://www.youtube.com/embed/XG1HaEkoxVk?html5=1&autoplay=0", :frameborder=>"0", :allowfullscreen => true}
