.preview
  %a.btn.btn-lg.btn-primary{"data-toggle" => "modal", :href => "#ritual-content"}
    Hello Ritual
.content

  #ritual-content.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Провести СЕВАСТОПОЛЬСКИЙ РИТУАЛ
        .modal-body
          %img{ src: "http://ib1.keep4u.ru/b/080727/07/07c8083ba771b778e2.jpg" }
