%span.preview
  %a Обменять все доллары на рубли, чтоб пиндосы соснули

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Обменять все доллары на рубли, чтоб пиндосы соснули
      .modal-body
        %img{ src: "templates/actions/img/rubli_dolary.png" }
        %hr
        %img{ src: "templates/actions/img/rubli_dolary_2.png" }
        %hr
        %img{ src: "templates/actions/img/rubli_dolary_3.png" }
        %hr
        %img{ src: "templates/actions/img/rubli_dolary_4.png" }
        %hr
        %img{ src: "templates/actions/img/rubli_dolary_5.png" }
