%span.preview
  %a Пригласить начальников из России

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Пригласить начальников из России
      .modal-body
        %img{ src: "templates/actions/img/rushka_spec.png" }
