%span.preview
  %a Выслать левые счета от Севтеплоэнерго

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Выслать левые счета от Севтеплоэнерго
      .modal-body
        %img{ src: "templates/actions/img/sevteploenergo_schet_1.png" }
        %hr
        %img{ src: "templates/actions/img/sevteploenergo_schet_2.png" }
