%span.preview
  %a Покрасить скамейку

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Покрасить скамейку
      .modal-body
        %img{ src: "templates/actions/img/skameika_1.png" }
        %hr
        %img{ src: "templates/actions/img/skameika_2.jpg" }
