%span.preview
  %a Раздать талоны на новую очередь

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Раздать талоны на новую очередь
      .modal-body
        %img{ src: "templates/actions/img/talony_to_new_ochered_2.png" }
        %hr
        %img{ src: "templates/actions/img/talony_to_new_ochered_3.png" }
        %hr
        %img{ src: "templates/actions/img/talony_to_new_ochered_4.png" }
        %hr
        %img{ src: "templates/actions/img/talony_to_new_ochered_5.png" }
        %hr
        %img{ src: "templates/actions/img/talony_to_new_ochered_1.png" }
        %hr
        %img{ src: "templates/actions/img/talony_to_new_ochered_6.png" }
        %hr
        %img{ src: "templates/actions/img/talony_to_new_ochered_7.png" }
        %hr
        %img{ src: "templates/actions/img/talony_to_new_ochered_8.png" }
