%span.preview
  %a Запретить ввоз помидоров из Украины

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Запретить ввоз помидоров из Украины
      .modal-body
        %img{ src: "templates/actions/img/tpmatos_stop.png" }
