%span.preview
  %a Объявить о скором прибытии бохатого туриста

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %img{ src: "templates/actions/img/turist_1.png" }
        %hr
        %img{ src: "templates/actions/img/turist_2.png" }
        %hr
        %img{ src: "templates/actions/img/turist_3.png" }
        %hr
        %img{ src: "templates/actions/img/turist_4.png" }
        %hr
        %img{ src: "templates/actions/img/turist_5.png" }



