%span.preview
  %a Рассказать по телеку чё там у хохлов

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Рассказать по телеку чё там у хохлов
      .modal-body
        %img{ src: "templates/actions/img/u_hohlov.png" }
