%span.preview
  %a Посоветовать собирать дождевую воду

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %img{ src: "templates/actions/img/water_search.png" }



