%span.preview
  %a Принять делегацию Зимбабве

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %a{href: "http://news.allcrimea.net/news/2014/12/20/krym-budet-brat-primer-s-zimbabve-27810/", target: "_blank"}
          %img{ src: "templates/actions/img/zimbabwe.png" }



