%span.preview
  %a Повысить тарифы ЖКХ

.story-content.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %a{ href: "http://sevnews.info/rus/view-news/Vlasti-Kryma-povyshayut-tarify-ZHKH-na-200-poyasnyaya-eto-zabotoj-o-naselenii/16036", target: "_blank" }
          %img{ src: "templates/actions/img/zkh_tarif_1.png" }
        %img{ src: "templates/actions/img/zkh_tarif_2.png" }

